@require './components/Page'
@require './components/Header'
@require './components/Footer'
@require './components/Main'
@require './components/Section'
@require './components/Field'
@require './components/CheckboxList'
@require './components/Checkbox'
@require './components/Range'
@require './components/Textarea'
@require './components/RadioGroup'
@require './components/Radio'

.b-section_person {
    margin-top: 0;
    padding-top: 2px;
}

.b-section_person .b-field:nth-child(1) .b-field__label {
    padding-right: 17px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(1) .b-field__input{
    padding-left: 14px;
    line-height: 52px;
}

.b-section_person .b-field:nth-child(2) {
    margin-top: 1px;
}
.b-section_person .b-field:nth-child(2) .b-field__label {
    position: relative;
    top: -1px;
    padding-right: 15px;
    letter-spacing: 0.1px;
}
.b-section_person .b-field:nth-child(2) .b-field__input{
    padding-left: 15px;
    line-height: 53px;
}

.b-section_person .b-field:nth-child(3) {
    margin-top: 1px;
}
.b-section_person .b-field:nth-child(3) .b-field__label {
    position: relative;
    top: 1px;
    padding-right: 17px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(3) .b-field__input{
    line-height: 50px;
}

.b-section_person .b-field:nth-child(4) {
    margin-top: 3px;
}
.b-section_person .b-field:nth-child(4) .b-field__label {
    position: relative;
    top: 1px;
    padding-right: 15px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(4) .b-field__input {
    padding-left: 13px;
    line-height: 46px;
    background-image: url(images/border2.png);
    background-repeat: no-repeat;
}

.b-section_person .b-field:nth-child(5) {
    margin-top: 1px;
}
.b-section_person .b-field:nth-child(5) .b-field__label {
    position: relative;
    top: 4px;
    padding-right: 15px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(5) .b-field__input {
    padding-left: 14px;
    line-height: 46px;
    background-image: url(images/border2.png);
    background-repeat: no-repeat;
}

.b-section_checkboxes {
    margin-top: 56px;
}

.b-section_level {
    margin-top: 43px;
}
.b-section_level .b-section__title {
    margin-bottom: 16px;
}

.b-section_words {
    margin-top: 22px;
}
.b-section_words .b-section__title {
    margin-bottom: -1px;
}
.b-section_words .b-textarea {
    margin-top: 16px;
}
