mixin Range(value)
    .b-range
        .b-range__slider
            .b-range__input-container
                input.b-range__input(type='range' min='0' max='100' value=value step='0.5')
        block
