body {
    margin: 0;
    background: #797979;
    color: #3d3d3d;
    font-family: 'PT Sans', sans-serif;
}

.b-page {
    box-sizing: border-box;
    background: url(images/background.png);
    background-position: 0 -10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 62px 23px 62px 17px;
}

.b-header,
.b-main,
.b-footer {
    max-width: 770px;
    margin: 0 auto;
}

.b-header {
    position: relative;
}
.b-header__stamp {
    position: absolute;
    top: -14px;
    right: -64px;
}
@media screen and (max-width: 940px) {
    .b-header__stamp {
        top: -34px;
        right: 0px;
    }
}
.b-header__title {
    margin: 36px 0;
    padding-right: 36px;

}
.b-header__title-image {
    display: block;
    margin: 0 auto 0;
}

.b-main {
    margin: 0 auto;
}

.b-field {
    display: flex;
    align-items: flex-end;
    height: 60px;
}
.b-field__label {
    font-size: 22px;
    font-weight: bold;
    padding-right: 20px;
    color: #2f1b15;
}
.b-field__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    line-height: 42px;
    padding-left: 12px;
    font-family: 'Courier New', serif;
    font-size: 30px;
    background: transparent;
    border: 0;
    border-bottom: 4px solid transparent;
    border-image: url(./images/border.png) 0 0 4 0/0 0 4px 0 repeat;
}
.b-field__input:focus {
    outline: 0;
    opacity: 0.62;
}

.b-section {
    margin: 0;
    margin-top: 54px;
}
.b-section__title {
    margin: 0;
    margin-bottom: -4px;
    font-size: 24px;
    line-height: 50px;
    color: #2f1b15;
    font-weight: bold;
}
.b-section__text {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.065px;
}

.b-checkbox-list {
    display: block;
    list-style: none;
    margin: 22px 0 0;
    padding: 0;
    columns: 1;
    column-gap: 16px;
}
@media screen and (min-width: 600px) {
    .b-checkbox-list {
        columns: 2;
    }
}
@media screen and (min-width: 1000px) {
    .b-checkbox-list {
        columns: 3;
    }
}
.b-checkbox-list__item {
    display: inline-block;
    width: 100%;
}

.b-checkbox {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    height: 35px;
    padding-top: 5px;
}
.b-checkbox__input {
    position: absolute;
    width: 0px;
    height: 0px;
}
.b-checkbox__label {
    position: relative;
    padding-left: 28px;
    line-height: 25px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}
.b-checkbox__label::before {
    position: absolute;
    left: 0;
    top: -5px;
    display: inline-block;
    content: '';
    width: 24px;
    height: 28px;
    background: url(./images/checkbox.png);
}
.b-checkbox__input:checked + .b-checkbox__label::before {
    background: url(./images/checkbox-checked.png);
}
.b-checkbox__input:focus + .b-checkbox__label {
    opacity: 0.62;
}

.b-range {

}
.b-range__slider {
    border-bottom: 4px solid transparent;
    border-image: url(./images/range.png) 0 0 4 0/0 0 4px 0 repeat;
}
.b-range__input-container {
    margin: 0 -7px;
}
.b-range .rangeslider {
    position: relative;
    display: block;
    cursor: pointer;
    height: 43px;
    width: 100%;
    margin-bottom: -29px;
}
.b-range .rangeslider__fill,
.b-range .rangeslider__fill__bg {
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    z-index: 2;
    will-change: width;
}
.b-range .rangeslider__handle {
    will-change: width, height, top;
    width: 17px;
    height: 14px;
    position: absolute;
    top: 0;
    background: #29e;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
    background: url(images/range-handle.png);
}
.b-range__input:focus + .rangeslider .rangeslider__handle {
    opacity: 0.62;
}
.b-range__options {
    display: flex;
    margin-top: -3px;
}
.b-range__option {
    box-sizing: border-box;
    width: 3px;
    height: 25px;
    background-image: url(images/range-option.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    cursor: pointer;
}
.b-range__option:first-child {
    background-image: url(images/range-option-left.png);
    background-position: left top;
}
.b-range__option:last-child {
    flex: 1;
    background-image: url(images/range-option-left.png);
    background-position: right top;
    text-align: right;
    padding-right: 0;
}
.b-range__option:not(:first-child):not(:last-child) {
    margin-left: -1px;
}

.b-textarea {
    resize: none;
    width: 100%;
    padding: 0;
    background: url(./images/textarea-background.png);
    line-height: 60px;
    font-family: 'Courier New', monospace;
    font-size: 30px;
    border: 0;
}
.b-textarea:focus {
    outline: 0;
    opacity: 0.62;
}

.b-radio-list {
    margin: 10px 0 0;
    padding: 0;
}
.b-radio {
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    height: 35px;
    margin-right: 18px;
    padding-top: 5px;
}
.b-radio__input {
    position: absolute;
    width: 0px;
    height: 0px;
}
.b-radio__label {
    position: relative;
    padding-left: 32px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.b-radio__label::before {
    position: absolute;
    left: 0;
    top: -1px;
    display: inline-block;
    content: '';
    width: 26px;
    height: 26px;
    background: url(./images/radio.png);
    background-repeat: no-repeat;
}
.b-radio__input:checked + .b-radio__label::before {
    background-image: url(./images/radio-checked.png);
}
.b-radio__input:focus + .b-radio__label {
    opacity: 0.62;
}

.b-footer {
    margin-top: 56px;
}

.b-footer .b-field__input {
    width: 206px;
}
