body {
    margin: 0;
    background: #797979;
    color: #3d3d3d;
    font-family: 'PT Sans', sans-serif;
}

.b-page {
    box-sizing: border-box;
    background: url(images/background.png);
    background-position: 0 -10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 62px 23px 62px 17px;
}

.b-header,
.b-main,
.b-footer {
    max-width: 770px;
    margin: 0 auto;
}

_focused() {
    outline: 0;
    opacity: 0.62;
}

_visually-hidden() { // для того чтобы прятать что-то доступно (A11Y), самый бронебойный и самый совместимый со скринридерами и браузерами способ
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

@require './styles/components/Header'
@require './styles/components/Footer'
@require './styles/components/Main'
@require './styles/components/Section'
@require './styles/components/Field'
@require './styles/components/CheckboxList'
@require './styles/components/Checkbox'
@require './styles/components/Range'
@require './styles/components/Textarea'
@require './styles/components/RadioGroup'
@require './styles/components/Radio'

/* пиксель-перфекционизм ¯\_(ツ)_/¯ */

.b-section_person {
    margin-top: 0;
    padding-top: 2px;
}

.b-section_person .b-field:nth-child(1) .b-field__label {
    padding-right: 17px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(1) .b-field__input{
    padding-left: 14px;
    line-height: 52px;
}

.b-section_person .b-field:nth-child(2) {
    margin-top: 1px;
}
.b-section_person .b-field:nth-child(2) .b-field__label {
    position: relative;
    top: -1px;
    padding-right: 15px;
    letter-spacing: 0.1px;
}
.b-section_person .b-field:nth-child(2) .b-field__input{
    padding-left: 15px;
    line-height: 53px;
}

.b-section_person .b-field:nth-child(3) {
    margin-top: 1px;
}
.b-section_person .b-field:nth-child(3) .b-field__label {
    position: relative;
    top: 1px;
    padding-right: 17px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(3) .b-field__input{
    line-height: 50px;
}

.b-section_person .b-field:nth-child(4) {
    margin-top: 3px;
}
.b-section_person .b-field:nth-child(4) .b-field__label {
    position: relative;
    top: 1px;
    padding-right: 15px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(4) .b-field__input {
    padding-left: 13px;
    line-height: 46px;
    background-image: url(images/border2.png);
    background-repeat: no-repeat;
}

.b-section_person .b-field:nth-child(5) {
    margin-top: 1px;
}
.b-section_person .b-field:nth-child(5) .b-field__label {
    position: relative;
    top: 4px;
    padding-right: 15px;
    letter-spacing: 0.2px;
}
.b-section_person .b-field:nth-child(5) .b-field__input {
    padding-left: 14px;
    line-height: 46px;
    background-image: url(images/border2.png);
    background-repeat: no-repeat;
}

.b-section_checkboxes {
    margin-top: 56px;
}

.b-section_level {
    margin-top: 43px;
}
.b-section_level .b-section__title {
    margin-bottom: 16px;
}

.b-section_words {
    margin-top: 22px;
}
.b-section_words .b-section__title {
    margin-bottom: -1px;
}
.b-section_words .b-textarea {
    margin-top: 16px;
}
